<h1>Header 1, Data Science Tools and Ecosystem<h1>

In [ ]:
print("Hello Vicki Sellers")

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.
## Objectives of this notebook
Some of the key takeaways of this course is learning the popular Data Science Languages.
<ul>
    <li>Java</li>
    <li>Python</li>
    <li>C++</li>
    <li>SQL</li>
    <li>Julia</li>
    </ul>

## List Data Science Languages
Some of the popular languages that Data Scientists use are:

<ol>
<li>Python</li>
<li>Java</li>
<li>MATLAB</li>
<li>R</li>
<li>Scala</li>
<li>SQL</li>
<li>JavaScript</li>
<li>Ruby</li>
</ol>

## List Data Science Libraries
Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li>Pandas</li>
    <li>NumPy</li>
    <li>TensorFlow</li>
    <li>Matplotlib</li>
    <li>SciPy</li>
    <li>Scikit-Learn</li>
    <li>BeautifulSoup</li>
    </ol>

|Data|Science|Tools|
|-----|-----|-----|
|Tableau|MATLAB|SAS|
|Weka|TensorFlow|Apache Spark|

# Introducing Arithmetic Expressions
Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
#This is a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [ ]:
#Python program to convert minutes to hours
min = int(input("200 : -->"))
print("Hour : Minute :--> ", int(min/60), " : ", min % 60)

## Author's Name
Vicki Sellers